<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h1>Lista aktualnych mieszkańców wspólnot</h1>

    <a style="color: black" href="dodajMieszkanca.html" th:href="@{/dodaj}">Dodaj mieszkańca do listy generalnej (lista wszystkich lokatorów) </a> <br/>
    <a style="color: black" href="index.html" th:href="@{/}">Powrót do strony głównej</a> <br/>

<ul>
    <li th:each="mieszkaniec: ${mieszkancy}" >
        <a href="/info/1" th:href="'/info/' + ${mieszkaniec.id}" th:text="${mieszkaniec.name} + ' ' + ${mieszkaniec.surname}">
            jakiś mieszkaniec
        </a>
        <a th:href="'/edycja/' + ${mieszkaniec.id}">(Edytuj)</a>
    </li>
</ul>

</body>
</html>