<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

    <a style="color: black" th:href="@{/wspolnota/dodaj}">Dodaj nową wspólnotę</a><br/><br/>

    <a style="color: black" th:href="@{/wspolnoty}">Wyświetl listę istniejących wspólnot</a><br/><br/>

    <a style="color: black" th:href="@{/lista}">Lista mieszkańców wszystkich wspólnot</a><br/><br/>
    <!--<h1>Lista mieszkańców wszystkich wspólnot</h1>-->

    <br/><br/>
    <h3>Legenda</h3>
    <h4> M - mężczyzna </h4>
    <h4> K - kobieta </h4>


</body>
</html>