<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h1>Info o mieszkańcu</h1>

<a style="color: black" href="../index.html" th:href="@{/lista}">Powrót do listy mieszkańców wspólnot</a> <br/><br/>
<a style="color: black" href="../wspolnoty.html" th:href="@{/wspolnoty/}">Powrót do listy wspólnot</a> <br/><br/>


<p th:text="${mieszkaniec.name}"></p>
<p th:text="${mieszkaniec.surname}"></p>
<!--<p th:text="${employee.plec}"></p>-->
<p th:text="${mieszkaniec.wyswietl()}"></p>


</body>
</html>